* {
  margin: 0;

}


.app{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #EAB70B
}

/*rgb(235, 183 11)*/
.app__header{
    padding: 20px;
    /*flex: 0.2;*/
    text-align: center;
}

.app__body{
    padding: 15px;
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

